<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
		<title>Cadastro de Usuários</title>
	</head>
	<body>
		
		<div class="container">
			
			<div>
				<form action="salvarUsuario" method="post">
				
					<div>
						<label>Nome</label>
						<input name="nomeUsuario">
					</div>
					
					<div>
						<label>Login</label>
						<input name="login">
					</div>
					
					<div>
						<label>senha</label>
						<input type="password" name="senha">
					</div>
					
					<div>
						<input type="submit" value="salvar">
					</div>
				
				</form>
			</div>
		
		</div>
	</body>
</html>